<main>
<div class="container">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">Home</a></li>
		<li class="breadcrumb-item"><a href="/customers">Customers</a></li>
		<li class="breadcrumb-item"><a href="/products">Products</a></li>
		<li class="breadcrumb-item"><a href="/workers">Workers</a></li>
		<li class="breadcrumb-item"><a href="/sections">Sections</a></li>
		<li class="breadcrumb-item"><a href="/locations">Locations</a></li>
	</ol>
	<div class="container">
    <div>
        <div class="container">
            <h1 class="display-4">Customers</h1>
            <p class="lead">Supermarket Tonkatsu Database</p>
        </div>
        <ul class="attrlist">
            <li class="attributes">Customer ID</li>
            <li class="attributes">First name</li>
            <li class="attributes">Last name</li>
            <li class="attributes">Gender</li>
            <li class="attributes">Hometown</li>

    </div>
    </div>
</div>

<br>
<br>


  <div>
  <form id="addcustomer" action="/customers" method="post">
    <div>
      <div class="fields">
        <div class="field">
          <label>First Name: </label>
          <input type="text" name="cFirstName">
        </div>
      <div class="field">
        <label>Last Name: </label>
        <input type="text" name="cLastName">
      </div>
      <div class="field">
        <label>gender: </label>
	<select name="gender">
		<option value="Male">Male</option>
		<option value="Female">Female</option>
	</select>
      </div> 
      <div class="field">
        <label>Hometown: </label>
        <select name="hometown">
            <option value="Brooklyn">Brooklyn</option>
            <option value="SF">San Francisco</option>
            <option value="LA">Los Angeles</option>
            <option value="Boston">Boston</option>
            <option value="Orl">Orlando</option>
        </select>
      </div>
    </div>
</div>
 <input type="submit" value="Submit">
</form>
</div>
<form id='filter_customers' action='/filter/:hometown' method='get'>
<!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Filter by hometown </label>
    <select id='hometown_filter' name="hometown"> 
        {{#each hometowns}}
        <option value="{{hometown}}">{{hometown}}</option>
        {{/each}}
    </select><br>
    <input type="button" value="Filter" onclick="filterCustomersByHometown()">
</form>
<div>
<form id='search_customer' action='/search/:s' method='get'>
	 <label>Search by Customer First Name: </label>
	 <input id='first_name_search_string' type="text" name='first_name_search_string' value=''>
	<input type="button" value="Search" onclick="searchCustomerByFirstName()">
  </form>
   </div>
 <table>
    <thead>
      <th>Customer ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Gender</th>
      <th>Hometown</th>
    </thead>
    <tbody>
      {{#each customers}}
      <tr>
          <td>{{cid}}</td>
          <td>{{cFirstName}}</td>
          <td>{{cLastName}}</td>
          <td>{{gender}}</td>
	  <td>{{hometown}}</td>
<form id='delete_customer' action='/:cid' method='delete'>
	  <td><button onclick="deleteCustomer({{cid}})">Delete</button></td>
</form>
	  <td><button>Update</button></td>
      </tr>
      {{/each}}

    </tbody>
  </table>


</main>
