<main>
<link rel="stylesheet" href="./customers.css">
<div class="container">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">Home</a></li>
		<li class="breadcrumb-item"><a href="/customers">Customers</a></li>
		<li class="breadcrumb-item"><a href="/products">Products</a></li>
		<li class="breadcrumb-item"><a href="/workers">Workers</a></li>
		<li class="breadcrumb-item"><a href="/sections">Sections</a></li>
		<li class="breadcrumb-item"><a href="/locations">Locations</a></li>
		<li class="breadcrumb-item"><a href="/customersproducts">Customers Purchase History</a></li>
	</ol>
        <div class="container">
            <h1 class="display-4">Customers</h1>
            <p class="lead">Supermarket Tonkatsu Database</p>
        </div>
    </div>
<br>

<body>
<h3>Add Customer</h3>

  <div>
  <form id="addcustomer" action="/customers" method="post">
    <div>
      <div class="fields">
        <div class="field">
          <label>First Name: </label>
          <input type="text" name="cFirstName">
        </div>
      <div class="field">
        <label>Last Name: </label>
        <input type="text" name="cLastName">
      </div>
      <div class="field">
        <label>gender: </label>
	<select name="gender">
		<option value="Male">Male</option>
		<option value="Female">Female</option>
	</select>
      </div> 
      <div class="field">
        <label>Hometown: </label>
        <input type="text" name="hometown">
      </div>
    </div>
 <input type="submit" value="Submit">
</form>
</div>
<div>
<h3>Filter By Customer's Hometown</h3>
<form id='filter_customers' action='/filter/:hometown' method='get'>
    <label> Filter by Hometown: </label>
    <select id='hometown_filter' name="hometown"> 
        {{#each customers}}
        <option value="{{cid}}">{{hometown}}</option>
        {{/each}}
    </select><br>
    <input type="button" value="Filter" onclick="filterCustomersByHometown()">
</form>
<br>
   </div>
<div>
 <table>
    <thead>
      <th>Customer ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Gender</th>
      <th>Hometown</th>
    </thead>
    <tbody>
      {{#each customers}}
      <tr>
          <td>{{cid}}</td>
          <td>{{cFirstName}}</td>
          <td>{{cLastName}}</td>
          <td>{{gender}}</td>
	  <td>{{hometown}}</td>
<form id='delete_customer' action='/:cid' method='delete'>
	  <td><button onclick="deleteCustomer({{cid}})">Delete</button></td>
</form>

	  <td><button href="/customers/{{cid}}">Update</button></td>
      </tr>
      {{/each}}

    </tbody>
  </table>


</div>
</body>
</main>
