<link rel="stylesheet" href="./home.css">

 <h1 class="display-4">Supermarket Tonkatsu Database</h1>
      
 <table>
    <thead>
      <th>Customer ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Gender</th>
      <th>Hometown</th>
    </thead>
    <tbody>
      {{#each customers}}
      <tr>
          <td>{{cid}}</td>
          <td>{{cFirstName}}</td>
          <td>{{cLastName}}</td>
          <td>{{gender}}</td>
	  <td>{{hometown}}</td>
	</tr>
      {{/each}}
    </tbody>
  </table>

</div>
