<main>

<div class="container">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">Home</a></li>
		<li class="breadcrumb-item"><a href="/customers">Customers</a></li>
		<li class="breadcrumb-item"><a href="/products">Products</a></li>
		<li class="breadcrumb-item"><a href="/workers">Workers</a></li>
		<li class="breadcrumb-item"><a href="/sections">Sections</a></li>
		<li class="breadcrumb-item"><a href="/locations">Locations</a></li>
	</ol>
	<div class="container">
    <div>
        <div class="container">
            <h1 class="display-4">Products</h1>
            <p class="lead">Supermarket Tonkatsu Database</p>
        </div>
        <ul class="attrlist">
            <li class="attributes">Product ID</li>
            <li class="attributes">Name</li>
            <li class="attributes">Price</li>
            <li class="attributes">Section</li>
            <li class="attributes">Quantity</li>

    </div>
</div>
</div>
<br>
<br>


  <div>
  <form action="/products" method="post">
    <div>
      <div class="fields">
        <div class="field">
          <label>Product Name: </label>
          <input name="pName" type="text" required="required">
        </div>
      </div>

      <div class="field">
        <label>Price: </label>
        <input name="price" type="number" required="required" step=".01">
      </div>

      <div class="field">
        <label>Section: </label>
        <input name="pSection" type="text" required="required">
      </div> 
      <div class="field">
        <label>Quantity: </label>
        <input name="quantity" type="number" required="required">
      </div>

 <button type="submit">Submit</button>
	<div class="field">
	 <label>Product ID: </label>
	 <input name="productid" type="number" required="required">
	</div>
	<button type="button">Delete</button>
	<button type="button">Update</button>
	<button type="button">Search</button>
    </div>
  </form>
  </div>
 <table>
    <thead>
      <th>Product ID</th>
      <th>Product Name</th>
      <th>Price</th>
      <th>Section</th>
      <th>Quantity</th>
    </thead>
    <tbody>
      {{#each getProducts}}
      <tr>
          <td>{{pid}}</td>
          <td>{{pName}}</td>
          <td>{{price}}</td>
          <td>{{pSection}}</td>
	  <td>{{quantity}}</td>
      </tr>
      {{/each}}

    </tbody>
  </table>


</main>
