<h1>Update {{cFirstName}} {{cLastName}} {{gender}} {{hometown}}:</h1>
<form id="update-customer" action="/updatecustomer" method="post">
    First Name: <input type="text" name="cFirstName" value="{{customerstable.cFirstName}}"><br>
    Last Name: <input type="text" name="cLastName" value="{{customerstable.cLastName}}"><br>
     Gender:<select name="gender">
		<option name="male">Male</option>
		<option name="female">Female</option>
	</select>
	<br><br>

   Hometown: <input type="text" name="hometown" value="{{customerstable.hometown}}"><br>
</form>
<button onclick="updateCustomer({{customerstable.cid}})">Update</button>
