<main>
<link rel="stylesheet" href="./home.css">
<script src="./filterworkers.js"></script>
<div class="container">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">Home</a></li>
		<li class="breadcrumb-item"><a href="/customers">Customers</a></li>
		<li class="breadcrumb-item"><a href="/products">Products</a></li>
		<li class="breadcrumb-item"><a href="/workers">Workers</a></li>
		<li class="breadcrumb-item"><a href="/sections">Sections</a></li>
		<li class="breadcrumb-item"><a href="/locations">Locations</a></li>
		<li class="breadcrumb-item"><a href="/customersproducts">Customers Purchase History</a></li>
	</ol>

        <div class="container">
            <h1 class="display-4">Workers</h1>
            <p class="lead">Supermarket Tonkatsu Database</p>
        </div>
</div>
<br>
<h3>Add Worker</h3>

  <div>

  <form id="addworker" action="/workers" method="post">
    <div>
      <div class="fields">
        <div class="field">
          <label>First Name: </label>
          <input name="wFirstName" type="text">
        </div>
      </div>

      <div class="field">
        <label>Last Name: </label>
        <input name="wLastName" type="text">
      </div>

      <div class="field">
        <label>Job: </label>
        <input name="job" type="text">
      </div>
      
      <div class="field">
        <label>Email: </label>
        <input name="email" type="text">
      </div> 
      
      <div class="field">
        <label>Birthday: </label>
        <input name="birthday" type="date">
     
     </div>  
Location: <select name="location"> 
        {{#each locations}}
        <option value="{{lid}}">{{city}}</option>
        {{/each}}
    </select><br> 
Section: <select name="wSection"> 
        {{#each sections}}
        <option value="{{sid}}">{{sname}}</option>
        {{/each}}
    </select><br>

      
<button type="submit">Submit</button>
<br/>

 
  </div>
<div>
  <table>
    <thead>
      <th>Worker ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Job</th>
      <th>Email</th>
      <th>Birthday</th>
      <th>Location</th>
      <th>Section</th>
    </thead>
    <tbody>
      {{#each workers}}
      <tr>
          <td>{{wid}}</td>
          <td>{{wFirstName}}</td>
          <td>{{wLastName}}</td>
          <td>{{job}}</td>
          <td>{{email}}</td>
          <td>{{birthday}}</td>
          <td>{{locationname}}</td>
	  <td>{{sectionname}}</td>
<form id='delete_worker' action='/:wid' method='delete'>
	  <td><button onclick="deleteWorker({{wid}})">Delete</button></td>
</form>
	<td><button href="/workers/{{wid}}">Update</button></td>  
          </tr>
      {{/each}}

    </tbody>
  </table>
</div>
</main>

