<main>
<script src="./filterworkers.js"></script>
<div class="container">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">Home</a></li>
		<li class="breadcrumb-item"><a href="/customers">Customers</a></li>
		<li class="breadcrumb-item"><a href="/products">Products</a></li>
		<li class="breadcrumb-item"><a href="/workers">Workers</a></li>
		<li class="breadcrumb-item"><a href="/sections">Sections</a></li>
		<li class="breadcrumb-item"><a href="/locations">Locations</a></li>
	</ol>
	<div class="container">
    <div>
        <div class="container">
            <h1 class="display-4">Workers</h1>
            <p class="lead">Supermarket Tonkatsu Database</p>
        </div>
        <ul class="attrlist">
            <li class="attributes">Worker ID</li>
            <li class="attributes">First name</li>
            <li class="attributes">Last name</li>
            <li class="attributes">Job</li>
            <li class="attributes">Email</li>
            <li class="attributes">Birthday</li>
            <li class="attributes">Location</li>

    </div>
</div>
</div>
<br>
<br>

  <div>

  <h3>Add new worker:</h3>
  <form id="addworker" action="/workers" method="post">
    <div>
      <div class="fields">
        <div class="field">
          <label>First Name: </label>
          <input name="wFirstName" type="text">
        </div>
      </div>

      <div class="field">
        <label>Last Name: </label>
        <input name="wLastName" type="text">
      </div>

      <div class="field">
        <label>Job: </label>
        <input name="job" type="text">
      </div>
      
      <div class="field">
        <label>Email: </label>
        <input name="email" type="text">
      </div> 
      
      <div class="field">
        <label>Birthday: </label>
        <input name="birthday" type="date">
     
     </div>  
Location: <select name="location"> 
        {{#each locations}}
        <option value="{{city}}">{{city}}</option>
        {{/each}}
    </select><br> 
Section: <select name="wSection"> 
        {{#each sections}}
        <option value="{{sname}}">{{sname}}</option>
        {{/each}}
    </select><br>

      
<button type="submit">Submit</button>
<br/>
</form>
<form id='filter_workers' action='/filter/:location' method='get'>
<!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Filter by location </label>
    <select id='locations_filter' name="location"> 
        {{#each locations}}
        <option value="{{lid}}">{{city}}</option>
        {{/each}}
    </select><br>
    <input type="button" value="Filter" onclick="filterWorkersByLocation()">
</form>
<form id='search_worker' action='/search/:s' method='get'>
    <div class ="field">
	 <label>Worker First Name: </label>
	 <input id='first_name_search_string' type="text" name='first_name_search_string' value=''>
	</div>
	<button type="button" value="Search" onclick="searchWorkersByName()">Search</button>
    </div>
  </form>
  </div>

  <table>
    <thead>
      <th>Worker ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Job</th>
      <th>Email</th>
      <th>Birthday</th>
      <th>Location</th>
      <th>Section</th>
    </thead>
    <tbody>
      {{#each workers}}
      <tr>
          <td>{{wid}}</td>
          <td>{{wFirstName}}</td>
          <td>{{wLastName}}</td>
          <td>{{job}}</td>
          <td>{{email}}</td>
          <td>{{birthday}}</td>
          <td>{{location}}</td>
	  <td>{{wSection}}</td>
<form id='delete_worker' action='/:wid' method='delete'>
	  <td><button onclick="deleteWorker({{wid}})">Delete</button></td>
</form>
	<td><a href="/workers/{{wid}}">Update</a></td>  
          </tr>
      {{/each}}

    </tbody>
  </table>

</main>
